form {
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    &.row {
      flex-direction: row;
    }
  }
  .auth.auth-bg-1 {
    background: url(../../images/auth/login_1.jpg);
    background-size: cover;
}
  .error {
    font-style: italic;
    color: red
  }

  button {
    margin-top: 10px;
    width: 100%
  }
}
h1 #welcome{ display:none;}

